:root {
  --main-text-color: #212121;
  --auxiliary-text-color: #757575;
  --accent-text-color: #2196f3;
  --main-bg-color: #ffffff;
  --auxiliary-bg-color: #f5f4fa;
  --main-bg-section-color: #2f303a;

  --logo-font: 'Raleway', sans-serif;
  --main-text-font: 'Roboto', sans-serif;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-text-font);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header */

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.blue-web-logo {
  color: var(--accent-text-color);
}

.white-studio-logo {
  color: var(--main-bg-color);
}

.navigation-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.current {
  color: var(--accent-text-color);
}

.contacts-list-item-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--auxiliary-text-color);
}

.navigation-list-item:hover,
.navigation-list-item:focus,
.contacts-list-item-header:hover,
.contacts-list-item-header:focus,
.adress-list-item:hover,
.adress-list-item:focus,
.contacts-list-item-footer:hover,
.contacts-list-item-footer:focus {
  color: var(--accent-text-color);
}

/* PAGE 1 (MAIN)*/

/* Hero section */

.hero-section {
  background-color: var(--main-bg-section-color);
}

.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

/* Buttons */

.button {
  background-color: var(--auxiliary-bg-color);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.main-button {
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

.portfolio-button {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.main-button:hover,
.main-button:focus,
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-text-color);
  color: var(--main-bg-color);
}

/* Advantages-section */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.advantages-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--auxiliary-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Our team section */

.ourteam-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.ourteam-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--auxiliary-text-color);
}

/* Footer */

.footer-section {
  background-color: #2f303a;
}

.adress-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

.contacts-list-item-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* PAGE 2 (PORTFOLIO) */

.portfolio-section-object {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-section-area {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
