:root {
  --main-text-color: #212121;
  --auxiliary-text-color: #757575;
  --accent-text-color: #2196f3;
}

body {
  background-color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  color: var(--main-text-color);
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* Header */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.blue-web-logo {
  color: var(--accent-text-color);
}

.white-studio-logo {
  color: #ffffff;
}
.navigation-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.navigation-list-item:hover,
.navigation-list-item:focus {
  color: var(--accent-text-color);
}

.contacts-list-item-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--auxiliary-text-color);
}
.contacts-list-item-header:hover,
.contacts-list-item-header:focus {
  color: var(--accent-text-color);
}

/* PAGE 1 (MAIN)*/

/* Hero section */

.hero-section {
  background-color: #2f303a;
}
.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-section-button {
  background-color: #f5f4fa;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-section-button:hover,
.hero-section-button:focus {
  background-color: var(--accent-text-color);
  color: #ffffff;
}

/* Advantages-section */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.ourteam-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.ourteam-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--auxiliary-text-color);
}
.advantages-section-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages-section-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--auxiliary-text-color);
}
/* Potfоlio section */
/* Our team section */

/* Footer */

.footer-section {
  background-color: #2f303a;
}

.adress-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress-list-item:hover,
.adress-list-item:focus {
  color: #2196f3;
}

.contacts-list-item-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-list-item-footer:hover,
.contacts-list-item-footer:focus {
  color: var(--accent-text-color);
}

/* PAGE 2 (PORTFOLIO) */
.portfolio-page-button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
}

.portfolio-page-button:hover,
.portfolio-page-button:focus {
  background-color: var(--accent-text-color);
  color: #ffffff;
}

.portfolio-section-object {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-section-area {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
